$main-color: #f8821d;

$button-prev: '../images/button_bg_white_left.png';
$button-prev-hover: '../images/button_bg_orange_left.png';

$button-next: '../images/button_bg_white_right.png';
$button-next-hover: '../images/button_bg_orange_right.png';

$button-long: '../images/button_bg_white_long.png';
$button-long-hover: '../images/button_bg_orange_long.png';